{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INFINITYFOX TECHNOLOGIES</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo.jpeg' %}" rel="icon">
  <link href="{% static 'img/logo.jpeg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- Script File -->
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

  <!-- =======================================================
  * Template Name: Presento - v1.1.1
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="home.html"><span><img class="img-fulid" src="{% static 'img/logo.jpeg' %}" class="img-fulid" style="width:30vh;"></span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto d-none d-lg-block">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5"><br><br>
              <h1>Welcome To INFINITYFOX </h1>
              <h2>We focus on inventing future with the foundation of technology.</h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container-fluid" data-aos="zoom-in">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="owl-carousel clients-carousel">
              <img src="{% static 'img/clients/client-1.png' %}" alt="">
              <img src="{% static 'img/clients/client-2.png' %}" alt="">
              <img src="{% static 'img/clients/client-3.png' %}" alt="">
              <img src="{% static 'img/clients/client-4.png' %}" alt="">
              <img src="{% static 'img/clients/client-5.png' %}" alt="">
              <img src="{% static 'img/clients/client-6.png' %}" alt="">
              <img src="{% static 'img/clients/client-7.png' %}" alt="">
              <img src="{% static 'img/clients/client-8.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>INFINITYFOX TECHNOLOGIES</h3>
              <p>
                Our team at Infinity Fox Technologies, a US-based company with operations across the globe, helps businesses all over the world transform into digital enterprises. We guarantee on-site presence to deliver services to our major target markets.
              </p>
              <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Our motive </h4>
                  <p>Our goal is to provide our clients with clever solutions that work while going the extra mile. We support the right learning curve and unrestricted innovation.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-group"></i>
                  <h4>Our team </h4>
                  <p>Our team of experts is motivated to support individuals and businesses in effectively developing and scaling their products. We sit down and discuss your needs with the team, enabling them to conduct in-depth research and offer exceptional and distinctive applications.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Our expertise</h4>
                  <p>With more than 50 satisfied customers, we are expanding our reach and offering top-notch services that let you run your business from anywhere and help you keep in touch with your team.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Us</h4>
                  <p>With our mass consumer product marketing expertise, we can help you create your ideal product quickly and affordably. With specially crafted, user-friendly features, we guarantee you business growth beyond your wildest dreams.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">50</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">70</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">50</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3 mt-3">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Forex Auto Trading</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Augmented Reality</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Unity Game development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
                <i class="ri-computer-line"></i>
              <h4 class="d-none d-lg-block">Machine Learning</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-5">
                <i class="ri-lock-line"></i>
              <h4 class="d-none d-lg-block">Cyber Security</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-6">
                <i class="ri-window-line"></i>
              <h4 class="d-none d-lg-block">Web Development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-7">
                <i class="ri-smartphone-line"></i>
              <h4 class="d-none d-lg-block">Mobile App Development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-8">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">3D Modeling</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-9">
                <i class="ri-vip-diamond-line"></i>
              <h4 class="d-none d-lg-block">Digital Marketing Services</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Forex Auto Trading</h3>
                <p class="font-italic">
                  By scanning the market for profitable currency trades while using either pre-set parameters or 
                  parameters that the user has programmed into the system, Forex Auto Trading is intended to operate
                   without the trader's physical presence.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> To find potentially profitable currency pair trades, the software recognises the signals,such as spread discrepancies, price trends, and news that may impact the market.</li>
                  <li><i class="ri-check-double-line"></i>Trading using an automated system involves using a programme to carry out pre-established rules for entering and exiting trades. Then you will be able to combine in-depth technical analysis with establishing opening orders, trailing stops, and guaranteed stops for your positions easily.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/tabs-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Augmented Reality</h3>
                <p>
                  Users can engage with the virtual real world that is created through a variety of sensory modalities, such as audio, visual, and others, through augmented reality (AR). 
                  We have earned a reputation for producing innovative and dependable mobile development applications thanks to our team of talented and committed augmented reality developers.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Augmented reality, or AR, is a technology that places virtual objects and information in our range of vision.</li>
                  <li><i class="ri-check-double-line"></i> Customers can evaluate a product live and perceive its features by seeing all of its elements. </li>
                  <li><i class="ri-check-double-line"></i> It is a developing trend among businesses engaged in mobile computing and business applications, in specifically. </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-2.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Unity Game development</h3>
                <p>
                  Our specialty is creating engaging games that are hard to put down. We provide a specialised game creation studio where our developers use cutting-edge tools and technology to produce top-tier games. Our Unity 3D game engine, which is well-known throughout the world, has produced a number of games in well-known genres.<br>
                  Because it works with a variety of Operating Systems, including Steam, iOS, PCs, Macs, Android, and consoles, you can easily create several games for many platforms and construct multi - player stages. For the finest gaming experience, Unity is renowned for its cutting-edge, superior graphics, highly adjustable rendering technologies, and several entertaining features.
                  
                </p>
                <!--<ul>
                  <li><i class="ri-check-double-line"></i></li>
                  <li><i class="ri-check-double-line"></i></li>
                  <li><i class="ri-check-double-line"></i></li>
                </ul>-->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-3.webp' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Machine Learning</h3>
                <p>
                  Machine learning allows the system to operate autonomously and produces more optimized outputs. 
                  The rapidly expanding discipline of data science includes machine learning as a key element. 
                  Algorithms are trained to generate predictions using statistical techniques, revealing important insights on data operations.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Artificial intelligence (AI) in the form of machine learning (ML) enables computer programmes to forecast outcomes more accurately without having been explicitly programmed to do so.</li>
                  <li><i class="ri-check-double-line"></i> In order to forecast new output values, machine learning algorithms use historical data as input.</li>
                  <li><i class="ri-check-double-line"></i> 	Supervised, unsupervised, and reinforcement learning are the three types of machine learning..</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-4.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Cyber Security</h3>
                <p>
                  In this digital age, where we are heavily dependent on the internet, safeguarding our personal data is essential.
                   We the Infinityfox Technologies is committed to protecting the world and the technology on it from the evil intentions of malicious users. We will handle the security of your data with the highest care thanks to our experience work with a wide range of industries. 
                  Regardless of the size of the business, they must use the most advanced technological features to prevent cyberattacks that are using novel techniques to get through standard defences.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>	Protection of vital infrastructure. Security for applications. Network safety Cloud protection. Security for the Internet of Things (IoT).</li>
                  <li><i class="ri-check-double-line"></i> 	Utilizing a range of cyber security measures can significantly reduce the amount of violations and the time it takes to restore your systems after a breach.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-5.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Web Development</h3>
                <p>
                  A website aids in establishing a brand identity and promoting business growth.
                   Providing high-quality web design services to startups, mid-sized businesses, and enterprises, 
                   Infinityfox technologies pays attention to the specific needs of their target customers. 
                   The development process is centered around the customer for each project and a dedicated team is assigned to it.
                   We will apply our technical expertise to your web application whether you have an idea or a detailed plan.<br> 
                  You will benefit from the expertise of our team of developers to make your website aesthetically pleasing and user-friendly, 
                  while keeping in mind factors such as SEO friendliness, easy navigation, and compatibility for both desktops and mobile devices,
                  to grow your business. In order to make your brand visible to your future clients, you need to put together 
                  a website that matches your interests and company as well as your brand face. This is what we are able to help you with.
                </p>
                <!--<ul>
                  <li><i class="ri-check-double-line"></i>Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. .</li>
                  <li><i class="ri-check-double-line"></i>  It is the creation of an application that works over the internet i.e. websites.</li>
                  <li><i class="ri-check-double-line"></i>Web: It refers to websites, web pages or anything that works over the internet.
                    Development: Building the application from scratch.</li>
                </ul>-->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-6.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-7">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Mobile App Development</h3>
                <p>
                  From ideation to practical implementation, Infinityfox Technologies provides mobile app development services that are both affordable and reliable.
                  As veterans in this field, our developers working across diverse industry verticals have the expertise to integrate multiple streaming media
                  platforms without any hassles and efficiently improve business operations. Our business analysts identify your pain points and translate your
                  app idea into development strategies with a defined scope and timeline based on an understanding of your vision.<br>
                  The development of mobile applications involves a set of processes and procedures that are involved in scripting software for small,
                  wireless computing devices, like smartphones and other handheld devices. Bringing out the best to our clients has enabled us to achieve 
                  consistent acclaim in this field. As a direct result of our continuous interactions with technological advancements, we reached this top spot
                  without much difficulty.  
                </p>
               <!-- <ul>
                  <li><i class="ri-check-double-line"></i> Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held devices.</li>
                  <li><i class="ri-check-double-line"></i> Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application utilizes a network connection to work with remote computing resources.</li>
                  <li><i class="ri-check-double-line"></i> Generate an app idea.
                    Do competitive market research.
                    Write out the features for your app.
                    Make design mockups of your app.
                    Create your app's graphic design.
                    Put together an app marketing plan.
                    Build the app with one of these options.
                    Submit your app to the App Store.</li>
        
                </ul>-->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-7.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-8">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>3D Modeling</h3>
                <p>
                  It's imperative to make the right decisions about a new product or a model in this technologically advanced era using 3D modelling
                  services. Modeling in 3D can help artists to see more than they could in 2D, as they can visualize the space requirements, as well
                  as increase their drafting performance and accuracy.<br>
                  Modeling of 3D indoor & outdoor environments, 3D decor & household appliances, 3D product design, automotive machinery modelling, 
                  rendering, architectural designs and many more has been delivered by us to design and manufacturing industries, game production 
                  companies, entertainment companies, etc with the highest degree of precision. Putting us at the head of the pack. Combining different
                  techniques to give you exact depictions, in just more of a way than you would expect, is what we are expertise in. 
                  
                </p>
                <!--<ul>
                  <li><i class="ri-check-double-line"></i>3D modeling is used in various industries like film, animation and gaming, interior design and architecture. They are also used in the medical industry to create interactive representations of anatomy.</li>
                  <li><i class="ri-check-double-line"></i>Within CAD, there are three main types of 3D modeling – solid, wireframe, and surface – and each has its own advantages and disadvantages. Of course, there are other types, but most exist either as a subset of these three or are highly specialized for their specific purposes.</li>
                </ul>-->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-8.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-9">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Digital Marketing Services</h3>
                <p>
                  Digital marketing provides businesses with a gateway to reach out to their desired audience and communicate. Our solutions empower
                  businesses to achieve their marketing objectives by providing complete branding and digital marketing solutions. By utilizing 
                  digital marketing strategies that keep up with current trends, we excel in helping businesses achieve their marketing objectives. 
                  In order to market your business, we offer services in Search Engine Optimization (SEO), Search Engine Marketing (SEM), Social Media Marketing(SMM),
                  Email Marketing, and Content Marketing.<br>
                  Your brand must be the first among competitors in order to conquer the competition. By customizing your website for the specific market needs,
                  our team of Digital Marketing experts maximize your brand's impact. Our professionals create a comprehensive digital marketing strategy that 
                  ensures targeted traffic via different methods and, therefore, to ensure that they make purchases and avail your services.
                  
                </p>
               <!-- <ul>
                  <li><i class="ri-check-double-line"></i>Digital marketing services are professional services that help market or advertise your business online, like through search, social media, and paid channels. They focus solely on digital channels versus traditional marketing channels like print or television.</li>
                  <li><i class="ri-check-double-line"></i> Content marketing.
                    Search engine marketing.
                    Display Advertising.
                    Mobile Marketing.
                    Social Media Marketing.
                    Email Marketing.
                    Influencer Marketing.
                    Affiliate Marketing.
                  </li>
                </ul>-->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-9.jpeg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>With highly integrated, reliable, and sustainable IT services from Infinityfox Technologies, 
            your business will stand out in this world of fierce competition. 
            We are always available to listen to your queries, as the best in the field.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-file-code-line"></i>
              <h4><a href="#">CMS Development</a></h4>

              <p>
                An enterprise Content Management System (CMS) is a software tool that allows multiple contributors to collaborate 
                on the creation, editing, and publication of digital content, such as web pages and blog posts. 
                With the arrival of the CMS, you are no longer limited to launching digital content, but you can create and manage a personalized 
                digital experience across a variety of channels,including email, mobile apps, social media, web pages, and more.
              </p>

            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-smartphone-line"></i></i>
              <h4><a href="#">Mobile Apps</a></h4>

              <p>
              As a result, customers can now get business information at the speed of light and stay updated with their favourite brands at the same time. 
              Make your brand favourite with the best featured mobile applications.
            </p>

            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-computer-line"></i>
              <h4><a href="#">Web Applications</a></h4>

              <p>
                Your business processes can be streamlined with web applications to allow you to accomplish more in less time and with greater accuracy. 
                Thanks to web-based applications,you no longer need to sit in front of a single computer and work from one location. 
                Access your business from anywhere around the world.
              </p>

            </div>
          </div>
    <!--  <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-shopping-cart-line"></i>
              <h4><a href="#">E-commerce Development</a></h4>
              <p>Developing your e-commerce application requires an understanding of both the technology as well as the business side of your trading system. At Digital Mesh we excel at both!</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-tools-line"></i>
              <h4><a href="#">Application Maintenance</a></h4>
              <p>We follow a rigorous process in maintaining and supporting your application to ensure continuous uptime. Tell us about your application software maintenance needs and be assured of peace of mind!</p>
            </div>
          </div>-->
        </div>

      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list" data-aos="fade-up">

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Augmented reality-(AR)<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
                (AR) is an interactive experience of a real-world environment where the objects that reside in the real world are enhanced by computer-generated perceptual information, 
                sometimes across multiple sensory modalities, including visual, auditory, haptic, somatosensory and olfactory.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Virtual reality-(VR)<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                virtual reality (VR), the use of computer modeling and simulation that enables a 
                person to interact with an artificial three-dimensional (3-D) visual or other sensory environment.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Python <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
                Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development,
                 as well as for use as a scripting or glue language to connect existing components together. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Cybersecurity<i class="bx bx-chevron-down icon-show"> </i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Cybersecurity is the protection of internet-connected systems such as hardware, software and data from cyberthreats. 
                The practice is used by individuals and enterprises to 
                protect against unauthorized access to data centers and other computerized systems.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Web Development<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Web development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network).
                [1] Web development can range from developing a simple single static page of plain text to complex web applications, 
                electronic businesses, and social network services.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Want to develop an Extraordinary Software ? Contact us.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>2nd floor, Carnival phase 1 Infopark,Kakanad<br> Cochin,kerala Pin 682042</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>infinityfox@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p><br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="{% url 'sending_mail' %}" method="post" role="form" class="email-form" id="form">
                {% csrf_token %}
                <div class="row">
                <div class="col form-group"> 
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col form-group"> 
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
            </div>
            <div class="form-group"> 
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
            </div>
            <div class="my-3">
                <div><h6 style="color:rgb(158, 231, 158)">{{message}}</h6></div>
            </div>
            <div class="text-center">
                <button type="submit" id="mailsend">Send Message</button>
            </div>
        </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <script>
        $("#form").on("click","#mailsend",function(e){
          e.preventDefault();
          console.log('button clicked for mail send.')
          let mailid =$("#email").val();
          console.log(mailid)
          mydata={smailid:mailid}
            $.ajax({
               url : "{% url 'sending_mail' %}",
               method :"POST",
               data : mydata,
               success :function(data){
                console.log(data)
                $("#form").html(data); 
                   
              }
            });
    
        });
      </script>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>INFINITYFOX<span></span></h3>
            <p>
                2nd floor, Carnival<br>
                phase 1 Infopark<br> 
                Kakanad, Kochi,
                kerala
                Pin 682042 <br><br>
              <strong>Phone:</strong> <br>
              <strong>Email:</strong>&nbsp;infinityfox@gmail.com
            </p>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
            
         <br> &copy; Copyright @ 2022  All Rights Reserved.<strong>&nbsp;&nbsp;Infinityfox Technologies</strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>