{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INFINITYFOX TECHNOLOGIES</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo.jpeg' %}" rel="icon">
  <link href="{% static 'img/logo.jpeg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- Script File -->
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

  <!-- =======================================================
  * Template Name: Presento - v1.1.1
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="home.html"><span><img class="img-fulid" src="{% static 'img/logo.jpeg' %}" class="img-fulid" style="width:30vh;"></span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto d-none d-lg-block">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5"><br><br>
              <h1>Welcome To INFINITYFOX </h1>
              <h2>We focus on inventing future with the foundation of technology.</h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container-fluid" data-aos="zoom-in">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="owl-carousel clients-carousel">
              <img src="{% static 'img/clients/client-1.png' %}" alt="">
              <img src="{% static 'img/clients/client-2.png' %}" alt="">
              <img src="{% static 'img/clients/client-3.png' %}" alt="">
              <img src="{% static 'img/clients/client-4.png' %}" alt="">
              <img src="{% static 'img/clients/client-5.png' %}" alt="">
              <img src="{% static 'img/clients/client-6.png' %}" alt="">
              <img src="{% static 'img/clients/client-7.png' %}" alt="">
              <img src="{% static 'img/clients/client-8.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>INFINITYFOX TECHNOLOGIES</h3>
              <p>
                Infinityfox Technologies is providing high quality web and software development services at an affordable budget. We go through all leading Technology Platforms for providing wide services ranging from Apps to Digital Marketing.
              </p>
              <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Our motive </h4>
                  <p>Our motive is to give smart and effective solutions to our clients with 'extra' mile effort. We believe in right curve for learning, limitless boundary for innovations.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-group"></i>
                  <h4>Our team </h4>
                  <p>We are sure that our team will meet your business requirements and helps to achieve your organisation goals. Creating a product that involves managing large amounts of data, Python is an excellent choice for back-end development. </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Our expertise</h4>
                  <p>With our expertise in the field it proves that, our business tool will allows anyone to manage their entire company's operations from anywhere and aids you to stay in touch with your team.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Us</h4>
                  <p>The leading ERP software development company in Kochi, we are delighted to assist you in easily organizing your business's financial data. We are more than anything else committed to perfection, which ultimately leads to long-term relationships with our clients.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">50</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">70</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">50</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3 mt-3">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Forex Auto Trading</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Augmented Reality</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Unity Game development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
                <i class="ri-computer-line"></i>
              <h4 class="d-none d-lg-block">Machine Learning</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-5">
                <i class="ri-lock-line"></i>
              <h4 class="d-none d-lg-block">Cyber Security</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-6">
                <i class="ri-window-line"></i>
              <h4 class="d-none d-lg-block">Web Development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-7">
                <i class="ri-smartphone-line"></i>
              <h4 class="d-none d-lg-block">Mobile App Development</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-8">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">3D Modeling</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3">
            <a class="nav-link" data-toggle="tab" href="#tab-9">
                <i class="ri-vip-diamond-line"></i>
              <h4 class="d-none d-lg-block">Digital Marketing Services</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Forex Auto Trading</h3>
                <p class="font-italic">
                    A web based platform to experience the real automated trading without any complexities. 
                    The forex robots will perform the market analysis to recognize the profit patterns which offer a profit trading. 
                    This eliminate emotional influence in decion making and makes the buy or sell in your absence.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> The software identifies the signals – including spread discrepancies, price trends, and news that may impact the market – to locate potentially profitable currency pair trades.</li>
                  <li><i class="ri-check-double-line"></i>Automated trading is a method of participating in financial markets by using a programme that executes pre-set rules for entering and exiting trades. As the trader, you’ll combine thorough technical analysis with setting parameters for your positions, such as orders to open, trailing stops and guaranteed stops..
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/tabs-1.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Augmented Reality</h3>
                <p>
                    Our AR apps are a powerful tool to change the way you deal with various things in your day to day life.
                     Looking to change the way you do certain shopping? Eager to see whether that furniture, that caught your eye at the shop, could fit in your living room? Or,
                      Want to make your kids learning experience fun and interactive? We have just the apps for you!
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Augmented reality (AR) is an enhanced version of the real physical world that is achieved through the use of digital visual elements, sound, or other sensory stimuli delivered via technology.</li>
                  <li><i class="ri-check-double-line"></i> It is a growing trend among companies involved in mobile computing and business applications in particular.
                  </li>
                  <li><i class="ri-check-double-line"></i> Augmented reality or AR is technology that presents us with virtual objects and information in our field of vision. </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-2.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Unity Game development</h3>
                <p>
                    The unity 3D is the most trending game engine that allows creation of games with stunning graphics and less efforts.
                    The unity platform can deliver high quality and cost effective products. 
                    We will assist you to turn your concepts and imagination into reality.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Unity is a multi-platform environment and works great for creating cross-platform AR/VR applications, mobile games, console games,.</li>
                  <li><i class="ri-check-double-line"></i>  Unity is easy to use and presents to the developer many tools to create from the beginning of a game.
                  </li>
                  <li><i class="ri-check-double-line"></i> A Unity Developer is a software developer experienced with the Unity platform. .</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-3.webp' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Machine Learning</h3>
                <p>
                    Machine learning produce more optimized results and let the system to work in an autonomous way.
                    This can reduce human intervention, make the system capable to learn and improve by automatically.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Machine learning (ML) is a type of artificial intelligence (AI) that allows software applications to become more accurate at predicting outcomes without being explicitly programmed to do so..</li>
                  <li><i class="ri-check-double-line"></i> Machine learning algorithms use historical data as input to predict new output values.
                  </li>
                  <li><i class="ri-check-double-line"></i> There are three machine learning types: supervised, unsupervised, and reinforcement learning.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-4.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Cyber Security</h3>
                <p>
                    We provide world's best security against the cyber-attacks. We will take care your privacy and confidentiality of information. 
                    There needs to be constant monitoring to prevent the attacks of hackers. 
                    A disruption of networks and data theft will wipe entire reputation of your organization. 
                    Our experienced professionals will provide a 24h support against any invasion on your business and firm.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Cybersecurity is the protection of internet-connected systems such as hardware, software and data from cyberthreats.</li>
                  <li><i class="ri-check-double-line"></i> The practice is used by individuals and enterprises to protect against unauthorized access to data centers and other computerized systems.</li>
                  <li><i class="ri-check-double-line"></i>Critical infrastructure security.
                    Application security.
                    Network security.
                    Cloud security.
                    Internet of Things (IoT) security.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-5.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Web Development</h3>
                <p>
                    Web development helps you to create a brand identity and promote the business growth.
                    When making a website there are several factors to be considered.it should be operationally feasible to a wide audience. 
                    We have decades on experience in web development Zone. We know about the market formula to reach target customers. 
                    We can serve across globally without any barriers of communication.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. .</li>
                  <li><i class="ri-check-double-line"></i>  It is the creation of an application that works over the internet i.e. websites..
                  </li>
                  <li><i class="ri-check-double-line"></i>Web: It refers to websites, web pages or anything that works over the internet.
                    Development: Building the application from scratch.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-6.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-7">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Mobile App Development</h3>
                <p>
                    We are pioneers in the area of mobile application development. We provide android, ios and Hybrid application for companies to deliver better services to their customers. 
                    Our products are highly customizable and easily maintainable. 
                    We follow agile methodology, gives customer an important role from product design to delivery stage.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held devices.</li>
                  <li><i class="ri-check-double-line"></i> Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application utilizes a network connection to work with remote computing resources.
                  </li>
                  <li><i class="ri-check-double-line"></i> Generate an app idea.
                    Do competitive market research.
                    Write out the features for your app.
                    Make design mockups of your app.
                    Create your app's graphic design.
                    Put together an app marketing plan.
                    Build the app with one of these options.
                    Submit your app to the App Store.</li>
        
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-7.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-8">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>3D Modeling</h3>
                <p>
                    We are here for you to make your visualization into a dream project. We offer services in 3d modeling, 3D Architecture, Animation and motion graphics and rendering. 
                    Which is inevitable for most of business such as design industry, film, construction and automobiles manufactures etc. 
                    The 3d models will help you to convey the business idea to customer in a visually appealing format.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>3D modeling is used in various industries like film, animation and gaming, interior design and architecture. They are also used in the medical industry to create interactive representations of anatomy.</li>
                  <li><i class="ri-check-double-line"></i>Within CAD, there are three main types of 3D modeling – solid, wireframe, and surface – and each has its own advantages and disadvantages. Of course, there are other types, but most exist either as a subset of these three or are highly specialized for their specific purposes.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-8.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-9">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Digital Marketing Services</h3>
                <p>
                    Expand your business with the help of digital marketing strategy. You can see the impact of digital marketing from the success of our clients. 
                    Our digital marketing service includes search engine optimization, social media marketing, email marketing and content marketing. 
                    Our performance-driven digital marketing services will help your company to accomplish the long-term goals.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Digital marketing services are professional services that help market or advertise your business online, like through search, social media, and paid channels. They focus solely on digital channels versus traditional marketing channels like print or television.</li>
                  <li><i class="ri-check-double-line"></i> Content marketing.
                    Search engine marketing.
                    Display Advertising.
                    Mobile Marketing.
                    Social Media Marketing.
                    Email Marketing.
                    Influencer Marketing.
                    Affiliate Marketing.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'img/tabs-9.jpeg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Our client relations are spread across the globe.
             We have full range of technical solutions to support our clients. 
            Our networks are uninterruptible and always open to hear your queries.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="ri-file-code-line"></i>
              <h4><a href="#">CMS Development</a></h4>
              <p>Developing and deploying a Content Management System is more about deploying a system that will work within your organizational workflows.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="ri-smartphone-line"></i></i>
              <h4><a href="#">Mobile Apps</a></h4>
              <p>We develop mobile versions of your websites and applications and increase access channels for your users with our mobile development services.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="ri-computer-line"></i>
              <h4><a href="#">Web Applications</a></h4>
              <p>We deliver robust, mission-critical web applications that take into account a range of business and technology scenarios. Tell us about yours today!</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="ri-shopping-cart-line"></i>
              <h4><a href="#">E-commerce Development</a></h4>
              <p>Developing your e-commerce application requires an understanding of both the technology as well as the business side of your trading system. At Digital Mesh we excel at both!</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="ri-tools-line"></i>
              <h4><a href="#">Application Maintenance</a></h4>
              <p>We follow a rigorous process in maintaining and supporting your application to ensure continuous uptime. Tell us about your application software maintenance needs and be assured of peace of mind!</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
        </div>
      </div>

      <div class="container-fluid">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa labore duis sunt culpa nulla illum cillum fugiat esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list" data-aos="fade-up">

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Augmented reality-(AR)<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
                (AR) is an interactive experience of a real-world environment where the objects that reside in the real world are enhanced by computer-generated perceptual information, 
                sometimes across multiple sensory modalities, including visual, auditory, haptic, somatosensory and olfactory.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Virtual reality-(VR)<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                virtual reality (VR), the use of computer modeling and simulation that enables a 
                person to interact with an artificial three-dimensional (3-D) visual or other sensory environment.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Python <i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
                Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development,
                 as well as for use as a scripting or glue language to connect existing components together. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Cybersecurity<i class="bx bx-chevron-down icon-show"> </i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Cybersecurity is the protection of internet-connected systems such as hardware, software and data from cyberthreats. 
                The practice is used by individuals and enterprises to 
                protect against unauthorized access to data centers and other computerized systems.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Web Development<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Web development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network).
                [1] Web development can range from developing a simple single static page of plain text to complex web applications, 
                electronic businesses, and social network services.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Want to develop an Extraordinary Software ? Contact us.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Ground floor, phase 1 Infopark,Kakanad<br> Kochi,kerala Pin 682042</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p> info@infoxtechnologies.com<br>admin@infoxtechnologies.com/p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p> +91 484 402 8658<br>+1  336-5461805</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="#" method="post" role="form" class="email-form" id="form">
                {% csrf_token %}
                <div class="row">
                <div class="col form-group"> 
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col form-group"> 
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
            </div>
            <div class="form-group"> 
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
            </div>
            <div class="my-3">
                <div><h6 style="color:rgb(158, 231, 158)">{{message}}</h6></div>
            </div>
            <div class="text-center">
                <button type="submit" id="mailsend">Send Message</button>
            </div>
        </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <script>
        $("#form").on("click","#mailsend",function(e){
          e.preventDefault();
          console.log('button clicked for mail send.')
          let mailid =$("#email").val();
          console.log(mailid)
          mydata={smailid:mailid}
            $.ajax({
               url : "{% url 'sending_mail' %}",
               method :"POST",
               data : mydata,
               success :function(data){
                console.log(data)
                $("#form").html(data); 
                   
              }
            });
    
        });
      </script>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>INFINITYFOX<span></span></h3>
            <p>
                Ground floor, Carnival<br>
                phase 1 Infopark<br> 
                Kakanad, Kochi,
                kerala
                Pin 682042 <br><br>
              <strong>Phone:</strong> +91 484 402 8658<br>
              <strong>Email:</strong>  info@infoxtechnologies.com<br>admin@infoxtechnologies.com
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
            
         <br> &copy; Copyright @ 2022  All Rights Reserved.<strong>&nbsp;&nbsp;Infinityfox Technologies</strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/infoxtechnologiesofficial/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/infox__technologies/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>